In [1]:
'''
Name: Honey Modha
Enrolment Number: 216270307065
Div: G 
Batch: G3

Write a Pandas program to implement following operation 
 to create a dataframe from a dictionary and display it 
 to sort the DataFrame first by 'name' in ascending order 
 to delete the one specific column from the DataFrame 
 to write a DataFrame to CSV file using tab separator 
'''
import numpy as np
import pandas as pd

# Creating a dataframe from a dictionary and displaying it
data = {"Vegetarian":["Chilli Panner","Italian Pizza","Fried Rice","Burrito"],
       "Non-Veg":["Egg","Lamb Curry","Chicken","Kabab"],
       "Vegan":["Soya Milk","Cashwes","Tofu","Cucumber"]} 
df = pd.DataFrame(data)
df

      Vegetarian     Non-Veg      Vegan
0  Chilli Panner         Egg  Soya Milk
1  Italian Pizza  Lamb Curry    Cashwes
2     Fried Rice     Chicken       Tofu
3        Burrito       Kabab   Cucumber

In [2]:
# Sorting the DataFrame first by 'name' in ascending order 
df = df.sort_values(by=['Vegetarian'])
df

      Vegetarian     Non-Veg      Vegan
3        Burrito       Kabab   Cucumber
0  Chilli Panner         Egg  Soya Milk
2     Fried Rice     Chicken       Tofu
1  Italian Pizza  Lamb Curry    Cashwes

In [3]:
# Deleting the 'Non-Veg' column from the DataFrame 
del df["Non-Veg"]
df

      Vegetarian      Vegan
3        Burrito   Cucumber
0  Chilli Panner  Soya Milk
2     Fried Rice       Tofu
1  Italian Pizza    Cashwes

In [4]:
# Writing a DataFrame to CSV file using tab separator 
filePath = "Food.csv";
df.to_csv(filePath,sep='\t')
pd.read_csv(filePath)

           \tVegetarian\tVegan
0         3\tBurrito\tCucumber
1  0\tChilli Panner\tSoya Milk
2          2\tFried Rice\tTofu
3    1\tItalian Pizza\tCashwes